body {
    font-family: "Space Grotesk", sans-serif;
    margin: 2rem;
    background: #000;
    color: #eee;
}

h1 {
    margin-bottom: 1.5rem;
}

.resource-card-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.card {
    background: #111;
    padding: 1.25rem;
    min-width: 400px;
    flex: 1;
}

.card h2 {
    margin-top: 0;
    font-size: 1.25rem;
    border-bottom: 1px solid #888;
    padding-bottom: 0.5rem;
}

.metric {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}

.label {
    color: #888;
    text-align: left;
}

.value {
    font-weight: 600;
    color: #888;
    text-align: right;
}

.value, .label {
    max-width: 20ch;
    word-wrap: normal;
}

.highlight {
    color: #00fffb;
    font-weight: 600;
}

.bar {
    height: 24px;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    margin: 0.5rem 0 1rem;

    border: 1px solid #777;

    display: flex;
    flex-direction: row;
}

.bar > div {
    height: 100%;
    background: #444;
    transition: width 1000ms linear;
}

.bar > div:nth-of-type(odd) {
    background-color: #00fffb;
}

.core {
    margin-bottom: 0.5rem;
}

.error {
    color: #b00020;
    font-weight: bold;
}

#updated {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}